body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    font-size: 18px;
    padding: 0 90px;
    gap:40px;
}

header .logo{
    margin-right: auto;
    color: #f9faf8;
    font-weight: bolder;
    font-size: 24px;
}

header .link{
    display: flex;
    gap: 40px;
    margin-left: auto;
}

header .link a{
    text-decoration: none;
    color: #e5e7eb;
}

.first-container{
    /* border: 5px solid red; */
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    padding:100px 0px;
}

.first-container .left{
    /* border: 5px solid red; */
    width: 250px;
    text-align: left;
    color: #e5e7eb;
}

.first-container .left h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.first-container .left button{
    background-color: #3882f6;
    width: 100px;
    border:none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.first-container img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    
}


.Second-Container{
    display: flex;
    justify-content: center;
}

.item-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 50px;
    width: 1000px;
}
.item-container .item{
    width: 200px;
    height: auto;
}

.item-container img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

.Third-Container{
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    padding: 0 200px;
}


.Forth-Container{
    flex-shrink: 0;

    margin: 100px auto;
    /* border: 5px solid black; */
    padding: 100px;
    background-color: #3882f6;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    display: flex;
    
    /* flex-wrap: wrap; */
    color: #f9faf8;
}

.Forth-Container h3{
    
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    margin: 0;
}

.Forth-Container button{
    background-color: #3882f6;
    width: 100px;
    height: 50px;
    border:2px solid white;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: bolder;

    
}

footer{
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
}